<form id="user_submit" method="POST" action="/adopters">
  <input type="text" placeholder="enter email" name="email">
  <input type="password"  placeholder="choose a  password" name="password">
  <input type="submit" value="submit">
</form>
